

.box_mails {
    max-width: 1500px;
    width: 100%;
   
    border:1px solid white;
    border-radius: 10px;
}

.content {
    display: flex;
    
}

hr{
    margin:0px;
}

.letters {
    max-height: 500px;
    overflow: auto;
}

.description_disk {
    font-size: 13px;
}
.user_active_info {
    max-width: 200px;
}