.navbar {
    max-width: 500px;
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    
}


a {
    text-decoration: none;
   
}

.links {
    max-width: 400px;
    width: 100%;
   
}
.links>div {
    cursor: pointer;
    
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}



.logout {
    margin:0 auto;
}